<p id="notice"><%= notice %></p>

<h1 align="center">マイページ</h1>
<h2>プロフィール</h2>
<%= render 'form', board_user: @board_user %>
<hr>
<p><%=link_to '<< 戻る', controller: :board_orders %></p>
<hr>
<h2>My orders</h2>
<hr>
<table width="90%">
  <tbody>
    <% @board_orders.each do |board_order| %>
      <%puts "=======boarduser_id==========="%>
      <% p board_order.boarduser_id %>
      <% p current_account.id %>
      <%puts "========account.id=========="%>
      <% if board_order.boarduser_id != current_account.id %>
      	<% next %>
      <% end %>
      <tr>
        <td align="center"><%= board_order.message %></td>
        <tr>
        <!--<td><%=link_to board_order.board_user, controller: :board_users, action: :show, id:board_order.boarduser_id %></td>-->
          <td align="center"><%= image_tag(url_for(:controller => 'board_orders', :action => 'send_image', :id => board_order.id), :size => '200x340') %><hr></td>
        <tr>
         <!--
          <td align="center">
            <% if !Favorite.exists?(board_user_id:current_account.id,board_order_id:board_order.id) %>
              <%= link_to "☆",board_order_add_path(board_order),method: :post %>
            <% else %>
              <%= link_to "★",board_order_add_path(board_order),method: :delete %>
            <% end %>
          <hr>  
          </td>-->
       </tr>
    <% end %>
  </tbody>
</table>


<hr>
<div>copyright YuyaOkayama 2020.</div>